# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environments
venv/
.env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# PyCharm / VS Code
.idea/
.vscode/

# macOS / Windows system files
.DS_Store
Thumbs.db

# Distribution / packaging
build/
dist/
*.egg-info/

